# from https://github.com/github/gitignore/blob/main/Composer.gitignore
composer.phar
/vendor/

# Commit your composer.lock file to version control https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file

# Committing this file to version control is important because it will cause anyone who sets up the project to use the exact 
# same versions of the dependencies that you are using. Your CI server, production machines, other developers in your team, 
# everything and everyone runs on the same dependencies, which mitigates the potential for bugs affecting only some parts of the deployments. 
# Even if you develop alone, in six months when reinstalling the project you can feel confident the dependencies installed are still working 
# even if your dependencies released many new versions since then. (See note below about using the update command.)

# from https://github.com/github/gitignore/
.phpunit.result.cache
.phpunit.cache

# dotenv, dotenv

# from https://github.com/github/gitignore/
.env
.env*.local